.title {
  margin-bottom: 80px;
}

.questionTitle {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.histogram {
  padding: 75px 75px;
  display: block;
}

.legend {
  width: 100%;
  text-align: center;
}
