.title {
  margin-bottom: 80px;
}

.questionTitle {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.histogram {
  padding: 75px 75px;
  display: block;
}

.legend {
  width: 100%;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #bbb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
