.lessons-container {
  padding: 75px 75px;
}

.my-lessons {
  color: #000;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  left: 30px;
  top: 0;
}

.student-summary-button {
  position: block;
  border: none;
  color: #009fb7;
  text-decoration: none;
  font-size: 25px;
  margin-left: 680px;
}

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

button:focus {
  outline: 0;
}

.lessonbox:focus {
  outline: 0;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal:focus {
  outline: none;
}

.Overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

/*

*/
