.lessons-container {
  padding: 0 50px;
}

.my-lessons {
  color: #000;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  left: 30px;
  top: 0;
}

.student-summary-button {
  position: block;
  border: none;
  color: rgb(0, 159, 183);
  text-decoration: none;
  margin-left: 750px;
}

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
