.frq {
  position: relative;
  font-family: Open Sans;
  font-style: regular;
  font-size: 30px;
  line-height: 41px;
  fill: Solid;
  color: #545151;
}

.answer {
  width: 811px;
  height: 266px;
  resize: none;
}

::placeholder {
  font-size: 25px;
}
