.logout {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  right: 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e5e5e5;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  color: black;
}
