.unit {
  position: relative;

  width: 466px;
  height: 57px;
  font-family: Open Sans;
  font-style: Regular;
  font-size: 36px;
  line-height: 49px;
  align: Left;
  fill: Solid;
  color: #323232;
}
