.bars {
  text-decoration: none;
  font-size: 16px;
  background-color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  border: none;
  box-sizing: border-box;
  padding-left: 30px;
}

.link {
  text-decoration: none;
  color: black;
  margin: 2% 100% 0 2%;
  font-size: 16px;
  background-color: #e5e5e5;
  width: 50%;
  float: left;
  padding: 18px;
  border-radius: 2px;
}

.add {
  text-decoration: none;
  color: black;
  margin: 2% 100% 0 2%;
  font-size: 16px;
  background-color: #fed766;
  width: 125px;
  float: left;
  padding: 18px;
  border-radius: 2px;
}
