.bars {
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 375px;
  height: 75px;
}

.box {
  position: relative;
  width: 375px;
  height: 75px;
}

.unitbox {
  text-align: left;
  position: absolute;
  top: 0;
  padding-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-color: #e5e5e5;
  width: 320px;
  height: 20px;
  float: left;
  padding: 18px;
  border-radius: 2px;
}

.add {
  text-decoration: none;
  color: black;
  margin: 2% 100% 0 7%;
  font-size: 16px;
  background-color: #fed766;
  width: 125px;
  float: left;
  padding: 18px;
  border-radius: 2px;
}

.confirmation {
  position: absolute;
}

.unit-exit {
  color: #afafaf;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  display: inline-block;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  margin-top: 17px;
  margin-right: 30px;
}
.confirm-pop-up {
  z-index: 2;
  overflow: visible;
  box-shadow: 5px 5px 100px grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 150px auto;
  padding: 40px;
  background-color: white;
  width: 400px;
  height: 225px;
  text-align: left;
  border-top: 45px solid #009fb7;
}

.confirm-pop-up:focus {
  outline: none;
}

.confirm-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: center;
  padding-bottom: 3%;
}

.sub-message {
  text-align: center;
  text-decoration: none;
}

.cancel {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 20%;
  font-size: 16px;
  background-color: #fed766;
  width: 80px;
  padding: 10px;
  box-shadow: none;
  border: 0;
}
.marginFix {
  float: right;
  margin-right: 20%;
  margin-left: 15%;
}
