.frq {
  position: relative;
  font-family: Open Sans;
  font-style: regular;
  font-size: 30px;
  line-height: 41px;
  fill: Solid;
  color: #545151;
}

.question {
  line-height: 60px;
}

.answer {
  width: 811px;
  height: 266px;
  font-size: 25px;
  font-family: Open Sans;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

::placeholder {
  font-family: Open Sans;
  font-size: 25px;
}
