.MC {
  position: relative;
  left: 203px;
  top: 2000px;
  width: 833px;
  height: 97px;
  font-family: Open Sans;
  font-style: Regular;
  font-size: 30px;
  line-height: 41px;
  align: Left;
  fill: Solid;
  color: #545151;
}
