.add-new-class {
  position: relative;
  padding: 30px 50px 30px 50px;
  z-index: 0;
  background-color: #efefef;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  -webkit-user-select: none;
  border: none;
}

button:focus {
  outline: 0;
}

.grey-top {
  position: absolute;
  width: 265px;
  height: 16px;
  background-color: #c4c4c4;
  z-index: 0;
}

.button-wrapper {
  margin: 0;
  position: relative;
  height: auto;
  width: auto;
  overflow: auto;
}

.plus {
  position: relative;
  padding: 10px 0 25px 0;
  left: 40px;
  width: 50%;
  z-index: 10;
  display: block;
}

.new-class-text {
  text-align: center;
  font-size: 20px;
  color: #767676;
}

.email-input {
  position: relative;
  background: #f8f5f5;
  border: none;
  height: 40px;
  width: 310px;
  left: 0%;
}

.class-modal {
  overflow: visible;
  position: relative;
  box-shadow: 5px 5px 100px grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 150px auto;
  padding: 40px;
  background-color: white;
  width: 400px;
  height: 300px;
  text-align: left;
  border-top: 45px solid #009fb7;
}

.student-modal {
  position: relative;
  box-shadow: 5px 5px 100px grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 150px auto;
  padding: 40px;
  padding-bottom: 70px;
  background-color: white;
  width: 400px;
  text-align: left;
  border-top: 45px solid #009fb7;
}

.class-modal:focus {
  outline: none;
}

.student-modal:focus {
  outline: none;
}

.class-modalTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: left;
  padding-bottom: 10%;
}

.student-modalTitle {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: left;
}

.cancel-class {
  display: inline-block;
  position: relative;
  margin-top: 19%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 20%;
  font-size: 16px;
  background-color: #fed766;
  width: 80px;
  padding: 10px;
  box-shadow: none;
  border: 0;
}
.marginFix {
  float: right;
  margin-right: 20%;
  margin-left: 15%;
}

.cancel-student {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-color: #fed766;
  width: 80px;
  box-shadow: none;
  border: 0;
  padding: 10px;
  margin-left: 20%;
  margin-top: 30px;
}

.cancel-student2 {
  float: right;
  margin-right: 20%;
  margin-left: 15%;
}

.inputText,
.inputTextYear {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: solid;
  width: 90%;
  height: 20px;
  border-color: #ebe9e9;
  margin-top: 20px;
  padding: 10px;
}

.inputTextYear::placeholder,
.inputText::placeholder {
  font-size: 15px;
}

.inputTextYear:focus,
.inputText:focus {
  outline: none;
}

.display {
  position: relative;
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: solid;
  width: 90%;
  height: 100px;
  margin-top: 20px;
  border-color: #ebe9e9;
  overflow: scroll;
  list-style: none;
  padding: 10px;
  padding-top: 22px;
  margin: 0;
}

.modal-button {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px 10px 50px;
  font-size: 16px;
  background-color: #fed766;
  width: 80px;
  float: left;
  padding: 10px;
  box-shadow: none;
  border: 0;
}

.forclassyear {
  margin-bottom: 0;
  font-weight: 100;
}
