.editor-container {
  height: 1000px;
  float: right;
}

.lesson-container {
  float: left;
}

#mceu_23 {
  /* height: 100vh; */
}

.lesson {
  width: 580px;
  height: 100vh;
}

#mceu_34 {
  font-size: 0px;
}
