.reflection-header {
  display: flex;
  margin: 30px 30px 30px 0;
  justify-content: space-between;
}

.my-lesson {
  display: inline;
  margin: 0;
}

.editor-container {
  height: 1000px;
  float: right;
}

.lesson-container {
  float: left;
}

.lesson {
  width: 580px;
  height: 100vh;
}

#mceu_34 {
  font-size: 0;
}

.mce-notification-inner {
  display: none !important;
}

.mce-widget.mce-notification.mce-notification-warning.mce-has-close.mce-in {
  display: none;
}

.Push {
  margin-top: 70px;
}
