.section {
  position: relative;
  left: 203px;
  top: 339px;
  width: 380px;
  height: 41px;
  Font-Family: Open Sans;
  Font-Style: SemiBold;
  Font-Size: 30px;
  Line-Height: 41px;
  Align: Left;
  Fill: Solid;
  color: #545151;
  }