.section {
  position: relative;

  width: 380px;
  height: 41px;
  font-family: Open Sans;
  font-style: SemiBold;
  font-size: 30px;
  line-height: 41px;
  align: Left;
  fill: Solid;
  color: #545151;
}
