.lesson-container {
  z-index: 0;
  position: relative;
}

.lessonbox {
  width: 265px;
  height: 229px;
  padding: 0;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 2px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  display: block;
  text-decoration: none;
  color: black;
}

.title-p {
  padding: 0 35px;
  text-align: left;
  font-size: 20px;
  margin-top: 27px;
}

.top-bar {
  position: relative;
  left: 0;
  padding: 0;
  width: 265px;
  height: 16px;
  background-color: #fed766;
}

.confirmation {
  position: absolute;
}

.exit {
  z-index: 1;
  display: inline-block;
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.confirm-pop-up {
  z-index: 2;
  overflow: visible;
  box-shadow: 5px 5px 100px grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 150px auto;
  padding: 40px;
  background-color: white;
  width: 400px;
  height: 200px;
  text-align: left;
  border-top: 45px solid #009fb7;
}

.confirm-pop-up:focus {
  outline: none;
}

.confirm-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: center;
  padding-bottom: 10%;
}

.cancel {
  display: inline-block;
  position: relative;
  margin-top: 19%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 20%;
  font-size: 16px;
  background-color: #fed766;
  width: 80px;
  padding: 10px;
  box-shadow: none;
  border: 0;
}
.marginFix {
  float: right;
  margin-right: 20%;
  margin-left: 15%;
}

.yellow {
  background-color: #fed766;
}

.aqua {
  background-color: #019fb7;
}

.dark-teal {
  background-color: #27464b;
}
