.lessonbox {
  width: 265px;
  height: 229px;
  padding: 0;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 2px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.title-p {
  padding: 0 35px;
  text-align: left;
  font-size: 20px;
  margin-top: 27px;
}

.top-bar {
  position: relative;
  left: 0;
  padding: 0;
  width: 265px;
  height: 16px;
  background-color: #fed766;
}

.yellow {
  background-color: #fed766;
}

.aqua {
  background-color: #019fb7;
}

.dark-teal {
  background-color: #27464b;
}
