.container {
  background-color: rgb(83, 177, 214);
  height: 30%;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: Regular;
  font-size: 25px;
}

.input-box {
  margin: 10px 0;
  width: 20%;
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
}

form {
  height: 100%;
}

.button {
  background-color: rgb(238, 109, 109);
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: Regular;
  font-size: 18px;
  margin: 5px;
  display: inline-block;
}
