.star-container {
  width: 700px;
  text-align: left;
  margin-bottom: 50px;
}

.submit-button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fed766;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  color: black;
  display: inline-block;
  margin: 20px;
}

.frq-container {
  margin-top: 67px;
}

.mc-container {
  margin-top: 100px;
}

.Survey {
  padding: 80px 110px;
  text-align: left;
}

.Survey::before {
  content: '';
  display: block;
  height: 100vh;
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #009fb7;
}

.Questions {
  margin-top: 0;
}

.Return {
  background: none !important;
  padding: 0 !important;
  border: none;
  font-size: inherit;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: rgb(0, 159, 183);
  cursor: pointer;
}
