.login-page {
  text-align: center;
}

.logo {
  width: 20%;
  margin: 70px 20px 20px 50px;
}
.welcome {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.welcome-sub {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.button-wrapper {
  margin-top: 30px;
}

.signin {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fed766;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  width: auto;
  height: auto;
  color: black;
  display: inline-block;
  margin: 20px;
}
